services:
  embedded-cpp-dev:
    build:
      context: .
      dockerfile: Dockerfile
    image: embedded-cpp-docker:latest
    volumes:
      - .:/home/vscode/workspace:cached
      - build-cache:/home/vscode/workspace/build
    working_dir: /home/vscode/workspace

  host-debug:
    extends: embedded-cpp-dev
    command: /bin/bash -c "cmake --workflow --preset host-debug"

  host-release:
    extends: embedded-cpp-dev
    command: /bin/bash -c "cmake --workflow --preset host-release"

volumes:
  build-cache:

