---
# We'll use defaults from the LLVM style
BasedOnStyle: Google
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
InsertNewlineAtEOF: true  # Doesn't seem to work!
---
